
.slider-div-a h4{
    font-size: 25px;
    font-weight: 600;
    padding: 20px 0 20px 30px;
}
.slider-box-conteniar{
    white-space: nowrap;
    display: inline-block;
    padding:0.8%;
    margin:0;  
    background-color: #f1f5f7; 
    overflow: hidden;   
}
.slider-job-header{
    padding:0 0 0 1%;
}
.slider-leftarrow{
   opacity:0.4;
   font-size: 35px;
}
.slider-rightarrow{
    opacity:0.4;
    font-size: 35px;
}
.slider-div-left-arrow{
    margin:0 0 0 3%;
    padding:0.3% 1% 0.5% 1%;
    cursor: pointer;
    width: fit-content;
    background-color: #d7ebf6;
    border-radius: 5px;
}
.slider-div-right-arrow{
    width: fit-content;
    padding:0.3% 1% 0.5% 1%;
    background-color: #d6edf8;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
}

.items{
margin:0.2%;
width:fit-content;
display: inline;
}
.items:hover{
    background-color:#ffd7d7;
}
.items img{
    height:30px;
}
.items a{
    text-decoration: none;
    color:grey;
    background-color: #f9eeee;
    padding:1.4%;
    border-radius: 10px;
    font-size:15px;
    font-weight:600;
}
.items a:hover{
    background-color: #ffd7d7;
    color:black;
}

/*-----------------Mobile View ---------------------------*/

@media screen and (min-width:320px) and (max-width:425px){
    .slider-box-conteniar{
        padding:0.2% 0.8% 0.2% 0.8%;        
        overflow:scroll;   
    }
    .slider-div-left-arrow{
        margin:0;
        padding:0.5% 1% 0.5% 1%; 
    } 
    .slider-div-right-arrow{
        margin:0;
        padding:1% 1% 1% 1%; 
    }
    .slider-leftarrow{        
        font-size: 15px;
     }
    .slider-rightarrow{        
         font-size:15px;
     } 
     .items img{
        height:20px;
    }  
}
@media screen and (min-width:426px) and (max-width:1023px){
    .slider-box-conteniar{
        padding:0.2% 0.8% 0.2% 0.8%;        
        overflow:scroll;   
    }
    .slider-div-left-arrow{
        margin-left:2%;
        padding:0.; 
    } 
    .slider-div-right-arrow{
        margin:0;
        padding:0.5% 1% 0.5% 1%; 
    }
    .slider-leftarrow{
        
        font-size: 25px;
     }
.slider-rightarrow{        
         font-size: 25px;
     }   
}

/*---------------------Start Job Container----------*/

.job-container-box{
    margin:1% 8% 0 8%;
    border-radius: 5px;
    background-color: white;
}
.job-container-items{
    background-color: rgb(255, 255, 255);
    margin:0.5%;
    padding:1%;
    border:1px solid rgb(151, 173, 173);
    border-radius: 7px;
    display: flex;
}
.job-container-items > div{
    font-size:15px;
    font-weight: 600;
}
.downarrow{
    display: flex;
    flex-direction: row-reverse;
}